version: '2'

services:
  nginx-proxy:
    restart: always
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - /html:/usr/share/nginx/html
      - /vhost:/etc/nginx/vhost.d
      - ./data/certs:/etc/nginx/certs:ro
    network_mode: bridge
  letsencrypt-proxy:
    restart: always
    image: jrcs/letsencrypt-nginx-proxy-companion
    depends_on:
      - nginx-proxy
    volumes_from:
      - nginx-proxy
    volumes:
      - ./data/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - acme:/etc/acme.sh
    network_mode: bridge
