name: Deploy

on: [push]

jobs:
  build:
    name: run-command
    runs-on: ubuntu-latest
    steps: 
    - name: Executing remote command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: cd ./my-server && sh down && sh up
